<aside>
    <nav id="menu">
        <img class="logo" src="../../../assets/images/logo.png" alt="Logotipo">
        <ul>
            <li>
                <a href="#">
                    <img src="../../../assets/images/menu.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/search.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/star.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/conversation.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/dash.png" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/house.png" alt="">
                </a>
            </li>
        </ul>
    </nav>
</aside>