<header>
   <div class="left-itens">
    <h2>
        NOVA ADMISSÃO COOPERADO
    </h2>
   <p>
    Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado 
   </p>
   </div>
   <div class="rigth-itens">
        <span class="notifications">
            <i class="material-icons">notifications</i>
        </span>
        <span class="username-logged">
            Viacredi
        </span>
        <span class="img-username">
            <i class='material-icons'>settings</i>
        </span>
   </div>
</header>